@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;

}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav{
    width: 60%;  
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

li:hover {
    color: #e6e6e6;
    font-size: 20px;
}    

#logo { 
    width: 100px;
    height: auto;

}

#banner-ingressos {
    background-color:#0000 ;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-top: 3px solid;
    border-color: #383838;
    
}

h1{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
    
}

h2{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    
    
}




.ingressos-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cards-container {
    width: 75%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    
    
   

}

.card1 {
    width: auto;
    height: 200px;
    border: dotted;
    align-items: center;
    border-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.card-pt-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pt-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-pt-3{
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo-1 { 
    width: 125px;
    height: 100px;
}

.logo-2 { 
    width: 100px;
    height: 100px;
}


p { 
    color: white;
    text-align: center;
}

button { 
    color: black;
    background-color: #ffbe00;
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 4px;

}









footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

spam{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}



@media(max-width:768px) {

.footer-navigation {
    display: block;
}

nav {
    display: none;
}

h2 {
    text-align: center;
    font-size: 23px;
}

.cards-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}






